<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge" />

    <!-- ICON -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- WEBFONT -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Raleway">
    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="assets/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/style.css">
    <title>GetDev </title>
  </head>
  <body>
    <div class="header-feature ">
      <nav class="navbar  navbar-expand-lg  ">
        <a class="navbar-brand" href="#"><img src="assets/img/logo.png" height="50" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#"> <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">FOR COMPANIES</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">SIGNUP</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">LOGIN</a>
            </li>
          </ul>
        </div>
      </nav>

      <div class="header-div giveSpace">
        <!-- <img src="assets/img/bg/engineer-background.png" /> -->
        <h1>Are you a world-class dev?</h1>
        <p>
          Get Job at top tech companies!
        </p>
        <a  href="#" role="button" class="btn btn-lg btn-success">Get Assessed</a>
      </div>

    </div>
    <section class="feature " id="feature-one">
      <div class="container">


        <div class="row">


          <div class="col-md-4">
            <img src="assets/img/user.png" class="img img-responsive" height="100"  />
            <h3>
              Step 1
            </h3>
            <p>
              Setup your profile with your skillsets.
            </p>
          </div>

          <div class="col-md-4">
            <img src="assets/img/test-passed.png" class="img img-responsive"  />
            <h3>
              Step 2
            </h3>
            <p>
              Get coding test to demonstrate your expertise
            </p>
          </div>

          <div class="col-md-4">
            <img src="assets/img/new-job.png" class="img img-responsive"  />
            <h3>
              Step 3
            </h3>
            <p>
              Get job that matches your skillsets
            </p>
          </div>

        </div>
      </div>
    </section>

    <section id="feature-two">
      <div class="container">

        <div class="ca">
            <div>

            <h2> Top Tech Companies</h2>
            <p>
              Our growing list of tech companies who want to hire great talents like you are witing to have you join their teams across Africa. We pre-qualify you so you don't have to go through long interview process.
            </p>

          </div>
        </div>

      </div>
    </section>

    <section id="feature-three">
      <div class="container">

        <div class="mainNoBorder">

            <div>
              <h3 class="ca"> TOP QUESTIONS </h3>
              <div><span><i class="fa fa-question-circle" aria-hidden="true"></i></span>
              <span class="standAloneSpan">What if I'm a new developer, will I be tested like a pro as well? </span></div>
              <div>
                 <p>
                   This is long
                 </p>
               </div>


              Who will see my profile? Companies wont see your profile until you applied to them.

            </div>
        </div>


      </div>
    </section>

    <footer id="footer">
    <p>
      &copy; 2017 GetDev Africa!
    </p>
    </footer>

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <!-- <script src="assets/js/jquery-3.1.1.slim.min.js" ></script>
    <script src="assets/js/popper.min.js" ></script>
    <script src="assets/js/bootstrap.min.js" ></script> -->

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

  </body>
</html>
